In [14]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [15]:
data = {
    "Sales":[100,200,450,78,140,200,300,400,500,900],
    "Category":["A","B","A","B","A","B","A","B","A","B"],
    "Prediction":[1,0,1,0,0,0,1,0,1,1],
    "Actual":[0,0,0,1,1,1,0,1,0,1]
}

In [16]:
df=pd.DataFrame(data)
df

   Sales Category  Prediction  Actual
0    100        A           1       0
1    200        B           0       0
2    450        A           1       0
3     78        B           0       1
4    140        A           0       1
5    200        B           0       1
6    300        A           1       0
7    400        B           0       1
8    500        A           1       0
9    900        B           1       1

# Mean

In [17]:
mean=df['Sales'].mean()
print("Mean:",mean)

Mean: 326.8

# Median

In [18]:
median=df['Sales'].median()
print("Median:",median)

Median: 250.0

# Mode

In [21]:
mode_result=stats.mode(df['Sales'])
print("Mode:",mode_result.mode[0])
print("COunt:",mode_result.count[0])

IndexError: invalid index to scalar variable.

# Variance

In [10]:
variance=df['Sales'].var()
print("Variance:",variance)

Variance: 62244.622222222235

# Std Deviation

In [11]:
std_dev=df['Sales'].std()
print("Standard Deviation:",std_dev)

Standard Deviation: 249.488721633308

# Detecting outliers using IQR

In [12]:
Q1=df["Sales"].quantile(0.25)
Q3=df["Sales"].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
outliers=df[(df["Sales"] < lower_bound) | (df["Sales"] > upper_bound)]
print("Outliers:\n",outliers)

Outliers:
    Sales Category  Prediction  Actual
9    900        B           1       1