# pandas basic

In [1]:
import pandas as pd

In [3]:
l=[1,2,3]
a=pd.Series(l)
a

0    1
1    2
2    3
dtype: int64

In [5]:
d={"a":1,"b":2,"c":3}
a=pd.Series(d)
a

a    1
b    2
c    3
dtype: int64

In [17]:
l=[1,2,3]
a=pd.Series(l,index=['x','y','z'])
print(a)
a.loc[['x','z']]

x    1
y    2
z    3
dtype: int64

x    1
z    3
dtype: int64

In [19]:
c={"cal":[12,14,17],"fat":[55,64,12],"sugar":[98,90,99]}
a=pd.DataFrame(c)
a

   cal  fat  sugar
0   12   55     98
1   14   64     90
2   17   12     99

In [20]:
c={"cal":[12,14,17],"fat":[55,64,12],"sugar":[98,90,99]}
a=pd.DataFrame(c,index=['Day1','Day2','Day3'])
a

      cal  fat  sugar
Day1   12   55     98
Day2   14   64     90
Day3   17   12     99

In [21]:
a.loc[['Day1','Day2']]

      cal  fat  sugar
Day1   12   55     98
Day2   14   64     90

In [23]:
s1=pd.Series(12,index=[1,2,3,4,5,6])
s1

1    12
2    12
3    12
4    12
5    12
6    12
dtype: int64

In [24]:
s2=pd.Series(12,index=[1,2,3,4])
s2

1    12
2    12
3    12
4    12
dtype: int64

In [26]:
s3=s1+s2
s3

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64

In [27]:
print(s3)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64